/**
 * @file
 * Visual styles for TpISENTResume's testimonial content type.
 */
.node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image {
  text-align: center;
}
.node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image .overlay-container {
  display: inline-block;
  max-width: 70px;
}
.node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image img {
  border-radius: 100%;
}
.node--type-mt-testimonial .field--name-field-mt-tst-body p {
  padding: 0;
  position: relative;
  margin-bottom: 10px;
}
.node--type-mt-testimonial .field--name-field-mt-tst-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .field--name-field-mt-tst-testimonial-image {
    margin-right: 30px;
    float: left;
    max-width: 70px;
    max-height: 70px;
  }
  .node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image ~ .field--name-field-mt-tst-testimonial-link,
  .node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image ~ .field--name-field-mt-tst-subtitle,
  .node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image ~ .field--name-field-mt-tst-body {
    margin-left: 100px;
  }
}
@media (max-width: 767px) {
  .node--type-mt-testimonial .field--name-field-mt-tst-testimonial-image {
    margin-bottom: 10px;
  }
}
.field--name-field-mt-tst-testimonial-link a {
  font-size: 18px;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}
.field--name-field-mt-tst-testimonial-link a:hover,
.field--name-field-mt-tst-testimonial-link a:focus {
  color: #ffffff;
}
