/**
 * @file
 * Visual styles for TpISENTResume's view listings list views.
 */
.view-listings-list .listings-list-item {
  padding: 10px;
  background: #ffffff;
  border-width: 0 0 2px 0;
  border-color: #e1e1e1;
  border-style: solid;
  box-shadow: 0 1px 5px 0 rgba(175, 175, 175, 0.50);
  margin-bottom: 25px;
  color: #707070;
  overflow: hidden;
  position: relative;
}
.view-listings-list .views-field-field-title {
  margin-bottom: 5px;
}
.view-listings-list .views-field-field-title a {
  font-size: 22px;
  color: #4a4a4a;
  font-weight: 700;
  line-height: 1.2;
}
.view-listings-list .views-field-field-title a:hover,
.view-listings-list .views-field-field-title a:focus {
  text-decoration: none;
}
.view-listings-list .views-field-field-mt-lst-category {
  margin-bottom: 22px;
}
.view-listings-list .views-field-field-mt-lst-category a {
  color: #ffffff;
  font-size: 12px;
  border: none;
  padding: 3px 13px;
  text-transform: uppercase;
  display: inline-block;
}
.view-listings-list .views-field-field-mt-lst-category a:hover,
.view-listings-list .views-field-field-mt-lst-category a:focus {
  text-decoration: none;
}
.view-listings-list .views-field-field-mt-lst-category a:before {
  content: "\f02b";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 10px;
  padding-right: 10px;
}
.view-listings-list .ribbon {
  background-color: #333333;
  color: #ffffff;
  position: absolute;
  top: 19px;
  right: -38px;
  z-index: 10;
  transform: rotate(45deg);
  -webkit-transform: rotate(39deg);
  font-size: 12px;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
}
.view-listings-list .listings-list-item-info .views-field-field-mt-lst-address {
  font-size: 0;
}
.view-listings-list .listings-list-item-info .views-field-field-mt-lst-address:before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 4px;
  text-align: center;
  width: 19px;
  display: inline-block;
  font-size: 16px;
}
.view-listings-list .listings-list-item-info .address,
.view-listings-list .listings-list-item-info .city {
  display: inline-block;
  font-size: 16px;
}
.view-listings-list .listings-list-item-info .address + .city:before {
  content: ", ";
}
.view-listings-list .listings-list-item-info .item-list ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.view-listings-list .listings-list-item-info .item-list ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 20px;
}
.view-listings-list .views-field-field-mt-lst-contact-option .field--name-field-mt-if-fa-icon,
.view-listings-list .views-field-field-mt-lst-contact-option .field--name-field-mt-if-title {
  display: inline-block;
}
.view-listings-list .views-field-field-mt-lst-contact-option .svg-inline--fa {
  font-size: 16px;
  margin-right: 3px;
}