/**
 * @file
 * Visual styles for Directory+'s background image block.
 */
.container-fluid .field--mt-frontpage-cover-block {
  margin: 0 -15px;
}
.field--mt-frontpage-cover-block .block {
  padding-bottom: 25px;
  position: relative;
}
.region--no-paddings .field--mt-frontpage-cover-block .block {
  padding-bottom: 0;
}
.container .container {
  padding-left: 0;
  padding-right: 0;
  width: auto;
}
.container .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.frontpage-cover-block__section {
  position: relative;
  padding: 20px 0 30px;
  overflow: hidden;
}
.frontpage-cover-block__background-image {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;
}
@media (min-height: 1080px) , (min-width: 1920px) {
  .frontpage-cover {
    background-size: cover;
  }
}
@media (max-width: 1199px) {
  .frontpage-cover-block__section h1 {
    font-size: 50px;
  }
}
.frontpage-cover-block__section h1 {
  text-transform: uppercase;
}
.frontpage-cover-block__section .button {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 60px 5px 5px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  margin: 10px 0;
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .frontpage-cover-block__section .button {
    text-align: left;
  }
}
@media (max-width: 575px) {
  .frontpage-cover-block__section .button {
    text-align: left;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
  }
}
.frontpage-cover-block__section .button span {
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  color: #ffffff;
}
.frontpage-cover-block__section .button .svg-inline--fa {
  font-size: 18px;
  margin-left: 10px;
  position: absolute;
  right: 30px;
  height: 100%;
  top: 0;
}
