/**
 * @file
 * Visual styles for Directory+'s listing content type.
 */
.page-node-type-mt-listing .internal-banner-container {
  position: relative;
}
.page-node-type-mt-listing .internal-banner {
  margin-top: 30px;
}
.page-node-type-mt-listing .slideshow-internal + .internal-banner {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  padding: 30px 0;
  color: #ffffff;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}
.page-node-type-mt-listing .main-content__section,
.page-node-type-mt-listing .sidebar__section {
  padding-top: 45px;
}
.page-node-type-mt-listing .node__main-content .field--entity-reference-target-type-taxonomy-term.field__item {
  padding: 0;
  margin: 0 0 10px;
}
.page-node-type-mt-listing .internal-banner-container .field--entity-reference-target-type-taxonomy-term.field__item {
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 15px;
}
.page-node-type-mt-listing .field--entity-reference-target-type-taxonomy-term.field__item:before {
  content: "";
}
.page-node-type-mt-listing .field--entity-reference-target-type-taxonomy-term.field__item a {
  color: #ffffff;
  font-size: 12px;
  border: none;
  padding: 11px 20px;
}
.page-node-type-mt-listing .field--entity-reference-target-type-taxonomy-term.field__item a:before {
  content: "\f02b";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 10px;
  padding-right: 10px;
}
.address-container {
  font-size: 0;
}
.field--name-field-mt-lst-address,
.field--name-field-mt-lst-city {
  font-size: 18px;
  display: inline-block;
}
.field--name-field-mt-lst-address + .field--name-field-mt-lst-city:before {
  content: ", ";
}
.address-container .svg-inline--fa {
  margin-right: 18px;
  font-size: 18px;
  margin-left: 1px;
}
.field--name-field-mt-lst-location {
  margin: 15px 0;
}
.page-node-type-mt-listing .page-title {
  font-size: 36px;
  line-height: 1.20;
  padding: 0;
  margin: 0px 0 10px 0;
  font-weight: 700;
}
.page-node-type-mt-listing .internal-banner-container + .main-content h1.page-title {
  display: none;
}
.page-node-type-mt-listing .slideshow-internal + .internal-banner .map-link a {
  color: #ffffff;
}
.page-node-type-mt-listing .map-link .svg-inline--fa {
  margin-right: 10px;
}
.page-node-type-mt-listing .node__main-content .map-link {
  margin: 0 0 30px;
}
