/**
 * @file
 * Visual styles for Directory+'s tables.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 25px 0 40px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #707070;
}
table tr th {
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #707070;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
}
.headings-wide-spacing-enabled table tr th {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
table tr:first-child th {
  border-width: 0 0 1px 0;
}
table thead + tbody tr:first-child th:first-child {
  border-top-width: 0;
}
table tr th:last-child {
  border-right-width: 0px;
}
table tr td {
  border-style: solid;
  border-width: 0;
  border-color: #707070;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}
table tr:first-child td {
  border-top-width: 0px;
}
table thead + tbody tr:first-child td {
  border-top-width: 0px;
}
table tr th:first-child,
table tr td:first-child {
  border-left-width: 0px;
}
.region--light-typography table {
  border-color: rgba(255, 255, 255, 0.5);
}
.region--light-typography table tr td,
.region--light-typography table tr th {
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
